*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #dfdddd;
}

h1{
    text-align: center;
    font-size: 3rem;
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto auto;
}

input{
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%; 
    /* margin-left: 16px;   */
}

button.add{
    width: 20%;
    cursor: pointer;
    background: rgb(6, 51, 6);
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    border: 1px solid rgb(190, 190, 211);
    padding-top: 40px;
   /*  margin-left: 16px;   */
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
}

.item.clicado{
    background: rgb(195, 235, 197);
}

.item.clicado .item-nome{
    text-decoration: line-through;
    color: rgb(145, 143, 143);
}

.item-icone{
    flex: 20%;
    /* border: 1px orangered; */
    text-align: center;
    font-size: 2rem;
}
.item-nome{
    flex: 55%;
   /*  border: 1px deeppink; */
    font-size: 20px;
    font-weight: bold;
}
.item-botao{
    flex: 18%;
   /*  border:1px greenyellow; */
}

.delete{
    background: red;
    color: white;
    padding: 10px;
    height: 80px;
    border: none;
    width: 100%;
}

.mdi-check-circle{
    color:  rgb(6, 51, 6);
}